build --enable_platform_specific_config

build:windows --cxxopt=/std:c++latest
build:windows --cxxopt=/permissive-
build:windows --cxxopt=/Zc:__cplusplus
build:windows --host_cxxopt=/std:c++latest
build:windows --host_cxxopt=/permissive-
build:windows --host_cxxopt=/Zc:__cplusplus

build:linux --cxxopt=-std=c++20
build:linux --host_cxxopt=-std=c++20
